body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-size: 3rem;
  }
  
  .mondrian {
    --u: max(1px, 0.05em);
    --red: magenta;
    --blue: cyan;
    --yellow: red;
    appearance: none;
    font-size: 1em;
    height: 10em;
    width: 20em;
    border: var(--u) dotted;
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4em;
      height: 100%;
      transition: left 0.25s;
      background:
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 0) calc(var(--u) * -3) / calc(var(--u) * 14) calc(var(--u) * 5),
        linear-gradient(var(--yellow) 0 0) calc(var(--u) * 15) calc(var(--u) * -3) / calc(var(--u) * 14) calc(var(--u) * 5),
        linear-gradient(var(--red) 0 0) calc(var(--u) * 30) calc(var(--u) * -3) / calc(var(--u) * 10) calc(var(--u) * 13),
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 0) calc(var(--u) * -3) / calc(var(--u) * 14) calc(var(--u) * 5),
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 41) calc(var(--u) * -3) / calc(var(--u) * 10) calc(var(--u) * 5),
  
        linear-gradient(var(--red) 0 0) calc(var(--u) * -12) calc(var(--u) * 3) / calc(var(--u) * 14) calc(var(--u) * 14),
        linear-gradient(#fff 0 0) calc(var(--u) * 3) calc(var(--u) * 3) / calc(var(--u) * 14) calc(var(--u) * 14),
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 18) calc(var(--u) * 3) / calc(var(--u) * 11) calc(var(--u) * 14),
        linear-gradient(var(--red) 0 0) calc(var(--u) * 41) calc(var(--u) * 3) / calc(var(--u) * 14) calc(var(--u) * 20),
        linear-gradient(#fff 0 0) calc(var(--u) * 3) calc(var(--u) * 3) / calc(var(--u) * 14) calc(var(--u) * 14),
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 30) calc(var(--u) * 11) / calc(var(--u) * 10) calc(var(--u) * 13),
         linear-gradient(var(--yellow) 0 0) calc(var(--u) * 0) calc(var(--u) * 18) / calc(var(--u) * 7) calc(var(--u) * 5),
        linear-gradient(var(--red) 0 0) calc(var(--u) * 8) calc(var(--u) * 18) / calc(var(--u) * 16) calc(var(--u) * 5),
        linear-gradient(var(--yellow) 0 0) calc(var(--u) * 25) calc(var(--u) * 18) / calc(var(--u) * 4) calc(var(--u) * 5),
        
        linear-gradient(var(--yellow) 0 0) calc(var(--u) * 52) calc(var(--u) * -3) / calc(var(--u) * 3) calc(var(--u) * 5),
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 56) calc(var(--u) * -3) / calc(var(--u) * 6) calc(var(--u) * 15),
        linear-gradient(var(--red) 0 0) calc(var(--u) * 63) calc(var(--u) * -3) / calc(var(--u) * 16) calc(var(--u) * 5),
        
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 56) calc(var(--u) * -3) / calc(var(--u) * 6) calc(var(--u) * 15),
        linear-gradient(var(--yellow) 0 0) calc(var(--u) * 56) calc(var(--u) * 13) / calc(var(--u) * 6) calc(var(--u) * 15),
        
        linear-gradient(#fff 0 0) calc(var(--u) * 63) calc(var(--u) * 3) / calc(var(--u) * 14) calc(var(--u) * 14),
        linear-gradient(var(--blue) 0 0) calc(var(--u) * 78) calc(var(--u) * 3) / calc(var(--u) * 14) calc(var(--u) * 14),
        
        linear-gradient(var(--red) 0 0) calc(var(--u) * 63) calc(var(--u) * 18) / calc(var(--u) * 10) calc(var(--u) * 14),
        linear-gradient(var(--red) 0 0) calc(var(--u) * 74) calc(var(--u) * 18) / calc(var(--u) * 10) calc(var(--u) * 14),
      #000
      ;
       
      background-repeat: no-repeat;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0.5em;
      width: 0.8em;
      height: 0.8em;
      border: max(1px, 0.05em) solid #0000;
      transform: translate(-50%, -50%);
    }
    
    &:checked {
      &::after {
        left: calc(100% - 0.5em);
      }
      &::before {
        left: -1.75em;
      }
    }
    
    &[disabled] {
      filter: grayscale(1);
    }
  }