

.navbar {
  width: 200px;
  height: fit-content;
  background: #333;
  color: white;
  padding: 20px;
}

.navbar a {
  font-family: "Doto", sans-serif;
  display: block;
  white-space: nowrap; /* Prevent text from wrapping */
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background 0.3s;
  
}

.navbar a:hover {
  background: #555;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px;
}

body {
  display: flex;
  font-family: "Doto", sans-serif;

  margin: 0;
}

#show-title {
  font-family: "Audiowide", sans-serif;

}

/* @media (max-width: 500px) {
    .grid {
      flex-direction: column;
    }
  } */