.full-names {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: #333;
  color: white;
  padding: 20px;
}

.full-names a {
  font-family: "Doto", sans-serif;
  display: block;
  white-space: nowrap; /* Prevent text from wrapping */
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background 0.3s;
  
}

.full-names a:hover {
  background: #555;
}


.short-names {
  display: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px;
}

body {
  display: flex;
  font-family: "Doto", sans-serif;
  color: rgb(232,230,227);
  background-color: rgb(24,26,27);
  padding-right: 20px;
  margin: 0;
}

#show-title {
  font-family: "Audiowide", sans-serif;

}


/*swapping full-name navbar for short-name navbar*/
@media (max-width: 701px) {
    .full-names {
      display: none;
    }

    .short-names {
      display: flex;
      flex-direction: column;
      height: fit-content;
      background: #333;
      color: white;
      padding: 20px;
    }
    
    .short-names a {
      font-family: "Doto", sans-serif;
      display: block;
      white-space: nowrap; /* Prevent text from wrapping */
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      transition: background 0.3s;
      
    }
    
    .short-names a:hover {
      background: #555;
    }
  }